.about {
	margin-top: 8vh;
padding: 1rem 2rem;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;

// @include respond(tab-port){
// 	padding: 1rem 0rem;

// }
	// &:not(:last-child) {
	// 	margin-bottom: 5rem;
	// }
	&__card {
		width: 30%;
		text-align: center;
		border: 0.2rem soldi $color-primary-light;
		margin: 1rem;
		background-color: $color-grey-light-2;
		transition: all .3s ease;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.103);
		border-radius: 3px;
		&:hover{
			transform: translateY(-0.2rem) scale(1.007);
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.293);
		}
		@include respond(tab-land) {
		width: 45%;
		margin: 2rem auto;
	}
		@include respond (phone){
				width: 100%;
		}
	}
	&__text{
		font-size:2rem;
		display: inline-block;
		height: 30rem;
		padding: 0rem 2rem;
		text-align: center;
		hyphens: auto;
	}

	&__img {

	width: 100%;
	height: auto;
	margin-bottom: 1rem;
			border-radius: 3px;
	}

}
