.header {
	height: 100vh;
	margin-bottom: 3rem;
	&__contactbar {
		position: fixed;
		z-index: 105;
		width: 100%;
		height: auto;

		top: 0;
	}

	&__contact-list {
		z-index: 200;
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		background-color: rgba($color-primary-dark, 0.9);
		min-height: 7rem;
		// padding: auto ;
		// height: 10%;
	}

	&__container {
		// position: absolute;
		width: 100%;
		height: 97vh;
		background-color: #333;
	}
	&__box-container {
		z-index: 4;
		background-color: rgba($color-primary-medium, 0.7);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border: solid 0.2rem $color-black;
		border-radius: 0.7rem;
		padding: 2rem 4rem;
		@include respond(tab-port) {
			width: 100%;
		}
	}
	&__split {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		// flex-direction: column;

		&--left {
			left: 0px;
			background: url("../img/header-background-left.JPG");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: white;
			width: 50%;
			transition: all 1s ease;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: $color-left;
			}
		}

		&--right {
			left: 50%;
			background: url("../img/header-background-right.JPG");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: white;
			width: 50%;
			transition: all 1s ease;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: $color-right;
			}
		}
	}
	&__logo-box {
		height: 5vh;
		width: auto;
	}
	&__logo {
		height: 100%;
	}
}

//CONTACT LIST
.contact-list__item {
	position: relative;
	display: inline-block;
	padding: 1rem 2rem;
	&:nth-child(2) {
		margin-left: 30px;
	}
	@include respond(iphone) {
		margin: 0;
	}
	&:nth-child(3) {
		margin-right: 30px;
		@include respond(iphone) {
			margin: 0;
		}
	}
	@include respond(iphone) {
		margin: 0;
	}
}
.contact-list__link:link,
.contact-list__link:visited {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	transition: color 0.3s ease;
	border-bottom: solid transparent 0.2rem;
}
.contact-list__link:hover,
.contact-list__link:active {
	color: greenyellow;
	border-bottom: solid greenyellow 0.2rem;
}
.contactbar__logo-box {
	display: block;
	position: absolute;
	max-height: 7vh;
	left: 2rem;
}

.contactbar__logo {
	height: 100%;
	max-height: 5vh;
}
