.quotation {
	&__background {
		position: absolute;
		z-index: 99;
		background: url(../img/quotation-background-big.jpg);
		width: 100%;
		min-height: 60rem;
		filter: blur(5px);
	}

	&__container {
		position: relative;
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70vw;
		text-align: center;
		height: auto;
		background-color: rgba(255, 255, 255, 0.83);
		margin: 10rem auto;
		flex-direction: column;
		// gap: 4rem;
		border-radius: 0.4rem;
		@include respond(tab-port) {
			width: 100%;
		}
	}
	&__heading {
		display: inline-block;
		margin: 8rem auto 5rem;
		&--sub {
			font-size: 70%;
			color: $color-secondary-light;
		}
	}
	&__text {
		&.paragraph {
			margin: 0rem 4rem 2rem;
			text-align: left;
		}
	}
	&__form {
		display: flex;
		align-items: right;
		justify-content: right;
		position: relative;
		z-index: 101;
		padding: 3rem 2rem;
	}
	&__button {
		text-transform: uppercase;
		text-decoration: none;
		font-size: 2rem;
		background-color: red;
		margin-bottom: 4rem;
		&:link,
		&:visited {
			color: white;
		}
		&:hover,
		&:active {
		}
	}
}

.feature-box__icon{
    font-size: 10rem;
    line-height: 1;
// margin-bottom: .5rem;
display: inline-block;

color: red;
&::before{
    content:'F';
}
}
