.feature-box {
	background-color: rgba($color-white, 0.6);
	font-size: 1.5rem;
	padding: 2.5rem;
	border-radius: 4px;
	box-shadow: 0 1rem 4rem rgba($color-black, 0.4);
	text-align: center;
	&__icon {
		display: inline-block;
		font-size: 8rem;
		margin-bottom: 2rem;
		background-image: linear-gradient(
			to right,
			$color-primary-light,
			$color-primary-dark
		);
		-webkit-background-clip: text;
        color: transparent;
	}

}
