body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	// padding: 3rem;
	overflow-x: hidden;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
position: relative;
z-index: 4;
text-align: center;
	&--main {
		display: block;
		font-size: 3rem;
		font-weight: 400;
		letter-spacing: 2rem;
		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	}
	&--sub {
		display: block;
		font-size: 3rem;
		font-weight: 700;
		letter-spacing: 1.3rem;
		margin-bottom: 6rem;
		&.animation {
			animation: moveInRight 1s ease-out;
		}
	}
}

.heading-secondary {
	z-index: 10;
	display: inline-block;
	font-size: 3.5rem;
	text-transform: uppercase;

	font-weight: 700;
	transform: skew(30px 30px);
	@supports (-webkit-background-clip: text) {
		background-image: linear-gradient(
			to right,
			$color-primary-light,
			$color-primary-dark
		);
		-webkit-background-clip: text;

		color: transparent;
	}

	color: $color-primary-dark;
	transition: all 0.2s ease;
	letter-spacing: 2px;
	&:hover {
		transform: skewY(2deg) skewX(3deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
	}
	@include respond(tab-land) {
		// font-size: 3.5rem;
	}
	@include respond(tab-port) {
		// font-size: 2rem;
	}
}

.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
}
.heading-four {
	z-index: 10;
	display: inline-block;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 900;
	transform: skew(1rem 1rem);
	background-image: linear-gradient(
		to right bottom,
		$color-primary-dark,
		$color-secondary-light
	);
	-webkit-background-clip: text;
	transition: all 0.2s ease;
	letter-spacing: 0.2rem;
	color: transparent;
	&:hover {
		transform: skewY(1deg) skewX(3deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
	}
}
.paragraph {
	// display: inline-block;
	text-align: center;
	font-size: 2.4rem;
	overflow-y: hidden;
	line-height: 1.5;
	margin: auto 0;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}

	&--max-height-100px {
		display: inline-block;
		height: 10rem;
		overflow-y: hidden;
	}

	// @include respond(-tab-land) {
	// 	font-size: 1rem;
	// 	line-height: 1;
	// }
}
