//COLORS


$color-primary-light: #1a54a5;
$color-primary-medium: #164689;
$color-primary-dark: #11366a;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ebebebc0;
$color-black: #000;

$color-secondary-light: #fbff00;
$color-secondary-dark: #ff7730;

// Header background colors
	$color-right: rgba(0, 47, 255, 0.1);
	$color-left: rgba(146, 248, 126, 0.05);

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;



// GRID
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 6rem;
$grid-background: #eee;

//FONT

$default-font-size: 1.6rem;
